body {
	background-color: #0000CD;
	color: #f0fff0;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 0.75%;
}

ol{
	list-style: upper-roman;
}

ul{
	list-style: circle;
}

h1{
	padding-top: 2em;
}

.nav{
	border: solid #2c4e4e
	border-width: 5px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
	min-width: 500px;
}

.nav ul, li{
	   display: inline-block;
}

.nav a {
	    display: inline-block;
		width: 90px;
		text-align: center;
		border: solid #2c4e4e;
		border-width: 2.5px;
		padding-top: 1em;
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding bottom: 1em;
		background-color: cornsilk;
}

.nav a:link,
a:visited{
		background-color: cornsilk;
		color: darkgoldenrod;
}

.nav a:hover,
a: active {
		  background-color: #darkgreen;
		  color: #floralwhite;
}

.index{
		text-align: center;
}

.index h1{
		
		text-align: center;
		color: #cd5c5c;
		text-decoration-line: underline;
		text-decoration-style: single;
		font-weight: 600;
}
		
.index a{
		text-align: center;
}

.index ul{
		text-justify: auto;
		color: ffffe0;
}

h2#sum{
	  color: db7093;
	  font-weight: 600;
	  text-decoration-line: underline;
}

h2#ed{
	
	color: fa8072;
	font-weight: 600;
	text-decoration-line: underline;
}

h2#we{
	
	color: fffafa;
	font-weight: 600;
	text-decoration-line: underline;
}



